*{margin: 0;padding: 0;font-family: Arial;}
/*Bu yerga @media berdim chunki rasimlar kichraytirilgan ekranda width:28vwda judayam kichik ko'rinayapti va unga width: 40vw berdim agar ekran 600px dan pas bo'lsa*/
@media screen and (max-width:600px)  {
    #container img{
        width: 45vw;
        margin:1vh 0;}
}
@media screen and (min-width: 600px){
    #container img{
        width: 28vw;
        margin:1vh 0;}
}

h1{color: white}

#img-container{
    margin-left: 5vw;}

#box-3{
    z-index: -1;
    background: url("img/background.svg") no-repeat center/cover;
    position: relative;
    padding-left: 20vw;
    padding-right: 5vw;}

#container #promo{
    display: flex;
    padding-top: 3vh;}

#fish{
    width: 25vw;
    position: absolute;
    top:20vh;
    left: 0;
    z-index: -1;}

#reptile{
    width: 20vw;
    position: absolute;
    bottom:0;
    right: 0;
    z-index: -1;}
/*id:info-button:start*/
#button-container{
    padding: 3vh 1vw;
    z-index: 2;
    color: white;}


#info-button{
    text-align: center;
    border: 3px solid white;
    padding: 3vh 5vw;}

#info-button button{
    color: white;
    background: none;
    border: 3px solid white;
    padding: 1vh 5vw;
    margin: 2vh;}

#info-button{
    padding: 2vh 1vw;}
/*id:info-button:end*/